.about{
    min-height: var(--home_height);
    --pic-height: clamp(0px, 60vh, 94vw * 935 / 748);
}
.about-container{
    min-height: var(--home_height);
    vertical-align: center;
    display: flex;
    align-items: center;
}
.about-picture-container{
    --border-width: 0.3rem;
    background-color: var(--base);
    height: calc(var(--pic-height) + 2 * var(--border-width));
    width: calc(748 * var(--pic-height) / 935 + 2 * var(--border-width));
    border-radius: calc(5vh + var(--border-width));
    border: var(--border-width) solid var(--base);
    margin-left: clamp(2vw, 10vw, 20vw);
    margin-right: clamp(2vw, 5vw, 10vw);
}
.about-picture{
    height: var(--pic-height);
    border-radius: 5vh;
    background-color: var(--base);
}
.about-text{
    margin-right: clamp(2vw, 10vw, 20vw);
    font-size: 1.3rem;
}
.yummy-emoji{
    font-size: 1.05rem;
}
@media screen and (max-width:1200px){
    .about-text{
        margin-right: clamp(2vw, 6vw, 10vw);
    }
    .about-picture-container{
        margin-left: clamp(2vw, 6vw, 10vw);
        margin-right: clamp(0vw, 2vw, 5vw);
    }
}
@media screen and (max-width:960px){
    .about-container{
        flex-direction: column;
    }
    .about-picture-container{
        margin-left: 0;
        margin-right: 0;
        margin-top: clamp(1vh, 3vh, 6vh);
        margin-bottom: clamp(1vh, 3vh, 6vh);
    }
    .about-text{
        margin-left: clamp(1vh, 4vh, 10vh);
        margin-right: clamp(1vh, 4vh, 10vh);
        margin-bottom: clamp(1vh, 5vh, 10vh);
    }
}