#nova-text{
    width: 70vh;
    padding-top: 2rem;
    font-size: 1.3rem;
}
#nova-img{
    height: 100vh;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.click-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width: 700px) {
    #nova-img{
        height: auto;
        width: 90vw;
    }
    #nova-text{
        width: 90vw;
    }
}