
.video, .image-portal{
    height: 110vh;
    width: 100%;
    position: relative;
    z-index: 0;
    object-fit: cover;
}
.home-container{
    overflow: hidden;
}
.caption, .caption2{
    position: relative;
    margin-bottom: -3rem;
    top: -4rem;
    right: 1rem;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    z-index: 1;
    color: white;
    font-size: 1.3rem;
    font-style: italic;
}
.caption2{
    display: none;
}
.title{
    display: flex;
    position: absolute;
    z-index: 1;
    top: 130px;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    font-weight: 1000;
    color:#10d1e6;
}
.image-portal{
    display: none;
}
@media screen and (max-width:1060px){
    .title{
        font-size: 7vw;
    }
}
@media screen and (max-width:960px){
    .title{
        font-size: 7vw;
    }
    .caption{
        display: none;
    }
    .caption2{
        display:flex;
    }
    .video{
        display: none;
    }
    .image-portal{
        display: flex;
    }
}