.home-container{
    width: 100vw;
}
.home-title{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: clamp(0px, 4rem, 7vw);
    font-weight: 1000;
    padding-top: 3vh;
    color:var(--accent1);
}
.home-caption{
    --caption-font-size: clamp(0px, 1.3rem, 5vw);
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: right;
    font-size: var(--caption-font-size);
    font-style: italic;
    padding-top: calc(var(--home_height) - 2 * var(--caption-font-size));
    color: var(--accent1);
    padding-right: 2rem;
    
}
@media screen and (max-width: 540px) {
    .home-caption{
        justify-content: center;
        padding-right: 0;
    }
}