#home-screen2{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
}
#text-ponyo2{
    position: absolute;
    top: 100px;
    color: #f75262;
    font-weight: 900;
}
.video-container2{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
}