.portfolio-container{
    min-height: var(--home_height);
}
.portfolio-page-title{
    margin-top: 3vw;
    width: 100%;
    color: var(--accent1);
    text-align: center;
    font-size: clamp(0px, 3rem, 5vw);
}
.portfolio-page-position{
    font-style: italic;
}
.portfolio-page-description-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.portfolio-page-description{
    font-size: 1.3rem;
    color: var(--accent1);
    margin-top: 3vw;
    margin-bottom: 6vw;
    display: flex;
    flex-direction: column;
    width: clamp(0px, 50rem, 80vw);
    align-items: center;
}
.portfolio-page-picture{
    width: 100%;
    margin-top: 3vw;
    margin-bottom: 1vw;
}
.portfolio-page-pic-caption{
    font-style: italic;
    margin-bottom: 3vw;
    font-size: 1.2rem;
    text-align: center;
}
@media screen and (max-width:600px){
    .portfolio-page-title-dash{
        display: none;
    }
    .portfolio-page-title{
        display: flex;
        flex-direction: column;
        font-size: clamp(0px, 3rem, 7vw);
        font-weight: 700;
    }
    #uci-portfolio-page-title{
        font-size: clamp(0px, 3rem, 6vw);
    }
    .portfolio-page-position{
        font-size: clamp(0px, 3rem, 5vw);
    }
    .portfolio-page-description{
        font-size: clamp(0.7rem, 1.3rem, 4vw);
    }
    .portfolio-page-pic-caption{
        font-size: clamp(0.6rem, 1.2rem, 4vw);
    }
}