:root{
    --base: #0d6973;
    --text: #fff;
    --accent: #062a2e;
    --accent2: #0d5259;
    --size: 2rem;
}
.footer-container{
    position: relative; 
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 6rem;
    background-color: var(--base);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text);
}
#github-img{
    height: var(--size);
    text-decoration: none;
    vertical-align: text-bottom;
}
#linked-in-img{
    height: calc(1.1 * var(--size));
    text-decoration: none;
    vertical-align: text-bottom;
}
.github-text{
    color: var(--text);
    font-size: calc(0.75 * var(--size));
    padding: 0 0 0 calc(0.25 * var(--size));
    margin-right: var(--size);
}
.linkedin-text{
    color: var(--text);
    font-size: calc(0.75 * var(--size));
    padding: 0 0 0 calc(0.25 * var(--size));
}
a{
    text-decoration: none;
}
.github-text:hover, .linkedin-text:hover{
    text-decoration-line: underline;
}
.links{
    display: flex;
    justify-content: center;
}
.footer{
    justify-content: center;
    width: calc(100% - 2rem);
}
.github-container,.linked-in-container{
    display: flex;
    flex-direction: row;
    justify-self: start;
    align-items: center;
}

@media screen and (max-width:680px){
    .links{
        flex-direction: column;
        align-items: center;
    }
    .github-text{
        margin-right: 0;
        white-space: nowrap;
    }
    .linkedin-text{
        white-space: nowrap;
    }
    .github-container{
        padding-bottom: calc(var(--size) * .25);
        padding-top: calc(var(--size) * .5);
    }
}