#home-screen{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
}
.video-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
}
#text-ponyo{
    position: absolute;
    top: 100px;
    color: #19e3b4;
}
#ponyo2-link{
    text-decoration: none;
    color: #19e3b4;
}