:root{
    --base: #0d6973;
    --accent1: #062a2e;
    --accent2: #0d5259;
    --accent3: #0b7d8a;
    --hover: #EEE;
    --background: #FFF;
    --navbar-height: 80px;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Montserrat', sans-serif;
    --home_height: calc(100vh - var(--navbar-height) - 6rem);
}
*::-webkit-scrollbar{
    display: none;
}
.main-page{
    min-height: var(--home_height);
    background-color: var(--background);
    z-index: -999;
}
@media screen and (max-width:680px){
    .main-page{
        min-height: calc(var(--home_height) - 2rem);
    }
}